#count {
  text-align: right;
  font-weight: bold;
  margin-left: 10px;
}
#clickButton {
  display: inline-block;
}
#logo {
  width: 200px;
  height: 200px;
  background-image: url("task_2/assets/holberton-logo.jpg") no-repeat
    center/200px 200px;
}
